// Fonts
$main-font: Bungee, Helvetica, Arial, sans-serif;
$alt-font: Electrolize, Helvetica, Arial, sans-serif;

// Colors
$entry-color: #faf9f6;
$entry-hover-color: darken(#faf9f6, 15);
$page-bg-color: linear-gradient(
    0deg,
    rgba(106, 103, 76, 1) 0%,
    rgba(145, 145, 147, 1) 50%,
    rgba(106, 103, 76, 1) 100%
);
$nav-button-color: #4fc3f7;
$main: #ee1515;
$main-alt: lighten(#ee1515, 25);
$main-accent: black;

// Layers
$top: 99;
$bottom: -1;

// Sizing
$window-width: 750px;
$window-height: 550px;
